doctype html

html

  head
    title= appTitle
    link(rel="stylesheet", href="../public/css/bootstrap.min.css")
    link(rel="stylesheet", href="../public/css/custom.css")
    script(type="text/javascript", src="../public/js/jquery-3.4.1.min.js")
    script(type="text/javascript", src="../public/js/bootstrap.min.js")
    script(type="text/javascript", src="../public/js/custom.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    .container
      h1.page-header= appTitle

      block page

      block header
        div
          include includes/menu

      block alert
        // div.alert.alert-warning.hide

      .content
        block content

    block footer
      footer
        .container
          p
            | Copyright &copy; 2019
